<div class="promo-bar">
    <p>1 boîte de thé achetée = 1 don à l'association Plastic Odyssey</p>
    <button class="promo-bar__close" id="btn-promo-close">
        <img src={{ asset('build/images/icon-close-white.svg') }} alt="Icon Close Promo"/>
    </button>
</div>
<header class="header">
    <div class="header__top">
        <a href="/" class="header__top__logo">
            <img src={{ asset('build/images/logo.svg') }} alt="Kusmi Tea"/>
        </a>
        <div style="width: 450px;">
            {% include '_search.html.twig' %}
        </div>
        <div class="header__top__icons">
            <a href="" class="header__top__icons__item">
                <img src={{ asset('build/images/icon-help.svg') }} alt="Icon Help"/>
                <span>Aide</span>
            </a>
            <a href="" class="header__top__icons__item">
                <img src={{ asset('build/images/icon-shop.svg') }} alt="Icon Shops"/>
                <span>Boutiques</span>
            </a>
            {% if app.user %}
                <a href="{{ path('app_profil') }}" class="header__top__icons__item">
                    <img src={{ asset('build/images/icon-account.svg') }} alt="Icon Logout"/>
                    <span>Compte</span>
                </a>
            {% else %}
            <a href="{{ path('app_login') }}" class="header__top__icons__item">
                <img src={{ asset('build/images/icon-account.svg') }} alt="Icon Account"/>
                <span>Compte</span>
            </a>
            {% endif %}
            <a href="{{ path('app_cart') }}" class="header__top__icons__item">
                <img src={{ asset('build/images/icon-cart.svg') }} alt="Icon Cart"/>
                <span>Panier</span>
            </a>
            <button class="header__top__icons__item header__top__icons__item-burger" id="btn-menu-open">
                <img src={{ asset('build/images/icon-menu.svg') }} alt="Icon Menu"/>
            </button>
        </div>
    </div>

    <div class="header__menu">
        <button class="header__menu__close" id="btn-menu-close">
            <img src={{ asset('build/images/icon-close.svg') }} alt="Icon Close Menu"/>
        </button>
        <ul class="header__menu__categories">
            <li class="header__menu__categories__item">
                <a href="" class="header__menu__categories__item__title header__menu__categories__item__title-orange">Santé & bien-être</a>
            </li>
            <li class="header__menu__categories__item">
                <a href="" class="header__menu__categories__item__title header__menu__categories__item__title-red">Offres du moment</a>
            </li>
            <li class="header__menu__categories__item header__menu__categories__item-children">
                <a href="" class="header__menu__categories__item__title">Nos thés et infusions</a>
                <ul class="header__menu__categories__item__dropdown">
                    <button class="header__menu__back">
                        <img src={{ asset('build/images/icon-arrow.svg') }} alt="Icon Back Menu"/>
                    </button>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Types de thés</span>
                        <ul>
                            <li>
                                <a href="">Thé noir</a>
                            </li>
                            <li>
                                <a href="">Thé vert</a>
                            </li>
                            <li>
                                <a href="">Thé blanc</a>
                            </li>
                            <li>
                                <a href="">Maté</a>
                            </li>
                            <li>
                                <a href="">Matcha</a>
                            </li>
                            <li>
                                <a href="">Thé et infusions glacés</a>
                            </li>
                            <li>
                                <a href="">Thé et infusions santé</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Infusions</span>
                        <ul>
                            <li>
                                <a href="">Infusion et tisane</a>
                            </li>
                            <li>
                                <a href="">Rooibos Bio</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Formats</span>
                        <ul>
                            <li>
                                <a href="">Boites</a>
                            </li>
                            <li>
                                <a href="">Sachets de thé</a>
                            </li>
                            <li>
                                <a href="">Thé en vrac</a>
                            </li>
                            <li>
                                <a href="">Capsules Special T</a>
                            </li>
                            <li>
                                <a href="">Coffrets</a>
                            </li>
                            <li>
                                <a href="">Boites miniatures</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Les notes</span>
                        <ul>
                            <li>
                                <a href="">Fruitées</a>
                            </li>
                            <li>
                                <a href="">Epicées</a>
                            </li>
                            <li>
                                <a href="">Gourmandes</a>
                            </li>
                            <li>
                                <a href="">Agrumes</a>
                            </li>
                            <li>
                                <a href="">Florales</a>
                            </li>
                            <li>
                                <a href="">Detox</a>
                            </li>
                            <li>
                                <a href="">Thés Earl Grey</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </li>
            <li class="header__menu__categories__item header__menu__categories__item-children">
                <a href="" class="header__menu__categories__item__title">Boites et sachets</a>
                <ul class="header__menu__categories__item__dropdown">
                    <button class="header__menu__back">
                        <img src={{ asset('build/images/icon-arrow.svg') }} alt="Icon Back Menu"/>
                    </button>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Boites</span>
                        <ul>
                            <li>
                                <a href="">Thé noir</a>
                            </li>
                            <li>
                                <a href="">Thé vert</a>
                            </li>
                            <li>
                                <a href="">Thé blanc</a>
                            </li>
                            <li>
                                <a href="">Infusions et tisanes</a>
                            </li>
                            <li>
                                <a href="">Coffrets</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Sachets de thé</span>
                        <ul>
                            <li>
                                <a href="">Thé noir</a>
                            </li>
                            <li>
                                <a href="">Thé vert</a>
                            </li>
                            <li>
                                <a href="">Thé blanc</a>
                            </li>
                            <li>
                                <a href="">Infusions et tisanes</a>
                            </li>
                            <li>
                                <a href="">Coffrets</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Thé en vrac</span>
                        <ul>
                            <li>
                                <a href="">Thé noir</a>
                            </li>
                            <li>
                                <a href="">Thé vert</a>
                            </li>
                            <li>
                                <a href="">Thé blanc</a>
                            </li>
                            <li>
                                <a href="">Infusions et tisanes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list">
                        <span>Capsules Special T</span>
                        <ul>
                            <li>
                                <a href="">Thé et infusions</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </li>
            <li class="header__menu__categories__item">
                <a href="" class="header__menu__categories__item__title">Coffrets et cadeaux</a>
            </li>
            <li class="header__menu__categories__item">
                <a href="" class="header__menu__categories__item__title">Accessoires</a>
            </li>
            <li class="header__menu__categories__item">
                <a href="" class="header__menu__categories__item__title">La marque</a>
                <ul class="header__menu__categories__item__dropdown">
                    <button class="header__menu__back">
                        <img src={{ asset('build/images/icon-arrow.svg') }} alt="Icon Back Menu"/>
                    </button>
                    <div class="header__menu__categories__item__dropdown__list text-center">
                        <img class="w-75" src={{ asset('build/images/nous.jpg') }} alt="Brand"/>
                        <ul class="text-center">
                            <li>
                                <a href="#">QUI SOMMES-NOUS ?</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list text-center">
                        <img class="w-75" src={{ asset('build/images/france.png') }} alt="Brand"/>
                        <ul class="text-center">
                            <li>
                                <a href="#">FABRIQUÉ EN FRANCE</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list text-center">
                        <img class="w-75" src={{ asset('build/images/naturel.jpg') }} alt="Brand"/>
                        <ul class="text-center">
                            <li>
                            <a href="#">INGRÉDIENT NATUREL</a>
                           </li>
                        </ul>
                    </div>
                    <div class="header__menu__categories__item__dropdown__list text-center">
                        <img class="w-75" src={{ asset('build/images/blog.png') }} alt="Brand"/>
                        <ul class="text-center">
                            <li>
                                <a href="{{ path('app_article') }}">BLOG</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</header>