{% extends 'base.html.twig' %}

{% block title %}Panier - Kusmi Tea France{% endblock %}

{% block body %}

{% if totalItems == 0 %}
    <div class="empty-cart">
        <div class="empty-cart__head">
            <h1>Votre panier est vide</h1>
            <p>0 produit</p>
        </div>

        <div class="empty-cart__content">
            <a href="{{ path('app_home') }}">Continuer les achats</a>
            <p>Vous ne trouvez pas ce que vous recherchez,<br/><strong>Contactez notre <a href="">Service Client</a></strong></p>
        </div>
    </div>
{% else %}
    <div class="cart">
        <div class="cart__head">
            <h1>Mon panier</h1>
            <p>{{totalItems}} produit(s)</p>
        </div>

        <a href="{{ path('app_home') }}">< Continuer mes achats</a>

        <div class="cart__content">
            <div class="cart__content__products">
                {% for item in cartContent %}
                    <div class="cart__content__products__item" data-product-id={{ item.product.id }}>
                        <a href="{{ path('remove-from-cart', { 'id': item.product.id }) }}" class="cart__content__products__item__remove">
                            <img src="{{ asset('build/images/icon-close.svg') }}" alt="Supprimer" />
                        </a>
                        <img src="{{ asset('build/images/ensemble-nomade.webp') }}" alt="" />
                        <div class="cart__content__products__item__name">
                            <h2>{{ item.product.name }}</h2>
                            <span><strong>En stock</strong></span>
                        </div>
                        <div class="cart__content__products__item__quantity">
                            <span>Quantité</span>
                            <select name="quantity" class="quantity-select" data-product-id="{{ item.product.id }}">
                                {% for q in 1..10 %}
                                    <option value="{{ q }}" {% if q == item.quantity %}selected{% endif %}>{{ q }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cart__content__products__item__total">
                            <span>Montant Total</span>
                            <span><strong id="product-total-amount">{{ item.product.price * item.quantity }}€</strong></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart__content__sidebar">
                <div class="cart__content__sidebar__reduction">
                    <div class="cart__content__sidebar__reduction__header">
                        <h2>Utilisez vos bons d'achat KusmiKlub</h2>
                        <div id="toggle-reduction">
                            <img src="{{ asset('build/images/icon-chevron.webp') }}" alt="" />
                        </div>
                    </div>
                    <div class="cart__content__sidebar__reduction__content">
                        <p>Vous n'avez aucun bon d'achat disponible</p>
                    </div>
                </div>
                <div class="cart__content__sidebar__total">
                    <div class="cart__content__sidebar__total__shipping">
                        <span>Frais de port estimés</span>
                        <span id="shipping-cost">{% if totalCost < 49 %}4,50 €{% else %}GRATUIT{% endif %}</span>
                    </div>
                    <div class="cart__content__sidebar__total__amount">
                        <span><strong>Total estimé</strong></span>
                        <span><strong id="total-amount">{{ totalCost }} €</strong></span>
                    </div>
                    <a href="">Commander</a>
                    <span class="cart__content__sidebar__total__amount__points">
                        Gagnez {% if totalCost < 49 %}{{totalCost - 4.50}}{% else %}{{totalCost}}{% endif %} points avec cette commande !
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script src="{{ asset('build/cart.js') }}"></script>

{% endblock %}