{% extends 'base.html.twig' %}

{% block title %}Kusmi Tea | Thés et infusions Bio de qualité{% endblock %}

{% block body %}

<section class="hero-slider swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-slider__item hero-slider__item-first">
            <img src={{ asset('build/images/nouveau_pastille.svg') }} alt="Rituel Minceur" />
            <img src={{ asset('build/images/efficacite_prouve.svg') }} alt="Efficacité prouvée" class="hero-slider__item-first__tag" />
            <h2>Atteignez vos objectifs !</h2>
            <p>Découvrez Rituel Minceur, enrichi en extrait thé vert</p>
            <a href="">Je découvre</a>
        </div>
        <div class="swiper-slide hero-slider__item hero-slider__item-second">
            <h2>Thé glacé à emporter !</h2>
            <p>Notre ensemble nomade à seulement 36,90€</p>
            <div class="hero-slider__item-second__prices">
                <span>49,80€</span>
                <span>36,90€</span>
            </div>
            <a href="">J'en profite</a>
        </div>
        <div class="swiper-slide hero-slider__item hero-slider__item-third">
            <img src={{ asset('build/images/efficacite_prouve.svg') }} alt="Efficacité prouvée" class="hero-slider__item-third__tag" />
            <h2>Agissez pour votre bien-être</h2>
            <p>Découvrez notre gamme Rituel, thés et infusions aux bienfaits prouvés</p>
            <a href="">Je découvre</a>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>

<section class="products-selection">
    <h2 class="mt-5">Notre <strong>sélection</strong> du moment</h2>
    <p>Découvrez nos incontournables à déguster à tout moment de la journée. Bien-être, classiques, aromatisés à vous de choisir votre thé préféré.</p>
    <div class="products-selection__products swiper">
        <div class="swiper-wrapper">
            {% for produit in produits %}
            <div class="products-selection__products__item swiper-slide">
                <a href="/product/{{ produit.getUuid() }}" class="products-selection__products__item__image">
                    {% if produit.isNew == true %}
                    <img src={{ asset('build/images/new.webp') }} alt="Nouveautés" class="products-selection__products__item__image-tag"/>
                    {% endif %}
                    {% if produit.imageName %}
                        <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="Rituel Minceur" class="products-selection__products__item__image-product"/>
                    {% endif %}
                </a>
                <a href="/product/{{ produit.getUuid() }}" class="products-selection__products__item__infos">
                    <h3>{{ produit.name }}</h3>
                    <p>{{ produit.description }}</p>
                    <span>{{ produit.weight }}g</span>
                    <div class="products-selection__products__item__infos__prices">
                        <span>{{ produit.price }} €</span>
                    </div>
                </a>
                <a href="" class="btn btn-add-to-cart" data-product-id="{{ produit.id }}" data-quantity="1">
                    AJOUTER
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="product__add-to-cart__message">
            <p>Produit ajouté au panier</p>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<section class="products-pub">
    <div class="products-pub__item">
        <div class="products-pub__item__image products-pub__item__image-first"></div>
        <div class="products-pub__item__content products-pub__item__content-beige">
            <h2>Thé glacé à emporter !</h2>
            <p>Notre ensemble nomade à seulement 36,90€</p>
            <a href="">J'en profite</a>
        </div>
    </div>
    <div class="products-pub__item">
        <div class="products-pub__item__image products-pub__item__image-second"></div>
        <div class="products-pub__item__content products-pub__item__content-rose">
            <h2>Agissez pour votre bien-être</h2>
            <p>Thés et infusions aux bienfaits prouvés</p>
            <a href="">Je découvre</a>
        </div>
    </div>
</section>

<section class="tea-selector">
    <h2><strong>Choisissez</strong> votre type de thé</h2>
    <div class="tea-selector__products">
        {% for category in categories %}
            <a href="{{ path('category_show', {'slug': category.slug}) }}" class="tea-selector__products__item">
                <img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="{{ category.name }}" />
                <span>{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>
</section>

<section class="products-pub">
    <div class="products-pub__item">
        <div class="products-pub__item__image products-pub__item__image-third"></div>
        <div class="products-pub__item__content products-pub__item__content-brown">
            <h2>L'infusion Alain Ducasse</h2>
            <p>Découvrez la nouvelle infusion étoilée</p>
            <a href="">Je découvre</a>
        </div>
    </div>
    <div class="products-pub__item">
        <div class="products-pub__item__image products-pub__item__image-fourth"></div>
        <div class="products-pub__item__content products-pub__item__content-peach">
            <h2>Offre thé glacé</h2>
            <p>Ensemble de thé glacé à 39,90€</p>
            <a href="">J'en profite</a>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="newsletter__form">
        <h2>Inscrivez-vous à notre newsletter pour recevoir nos offres et actualités.</h2>
        <form>
            <input type="email" placeholder="Votre email" required/>
            <input type="submit" value="Inscription" />
        </form>
        <p>En cliquant sur "INSCRIPTION", vous acceptez expressément de recevoir les offres commerciales et les actualités de Kusmi Tea par email selon les conditions suivantes et conformément à notre Politique de Confidentialité disponible <a href="">ici</a>.</p>
    </div>
    <div class="newsletter__networks">
        <a href="" class="newsletter__networks__item newsletter__networks__item-light">
            <img src={{ asset('build/images/icon-facebook.svg') }} alt="Facebook"/>
        </a>
        <a href="" class="newsletter__networks__item newsletter__networks__item-dark">
            <img src={{ asset('build/images/icon-twitter.svg') }} alt="Twitter"/>
        </a>
        <a href="" class="newsletter__networks__item newsletter__networks__item-dark">
            <img src={{ asset('build/images/icon-instagram.svg') }} alt="Instagram"/>
        </a>
        <a href="" class="newsletter__networks__item newsletter__networks__item-light">
            <img src={{ asset('build/images/icon-pinterest.svg') }} alt="Pinterest"/>
        </a>
        <a href="" class="newsletter__networks__item newsletter__networks__item-light">
            <img src={{ asset('build/images/icon-linkedin.svg') }} alt="LinkedIn"/>
        </a>
        <a href="" class="newsletter__networks__item newsletter__networks__item-dark">
            <img src={{ asset('build/images/icon-youtube.svg') }} alt="YouTube"/>
        </a>
    </div>
</section>

{% if app.user %}
    {% if app.user.frequencethe is null %}
        <a href="{{ path('app_question1') }}">
        <div id="popup" class="popup popup-button hidden d-flex align-items-center justify-content-center">
                <p class="popup-text">Favoriser mes recherches</p>
            </div>
        </a>
    {% elseif app.user.quelThe is null %}
        <a href="{{ path('app_question2') }}">
        <div id="popup" class="popup popup-button hidden d-flex align-items-center justify-content-center">
                <p class="popup-text">Favoriser mes recherches</p>
            </div>
        </a>
    {% elseif app.user.autreTypeThe is null %}
        <a href="{{ path('app_question3') }}">
        <div id="popup" class="popup popup-button hidden d-flex align-items-center justify-content-center">
                <p class="popup-text">Favoriser mes recherches</p>
            </div>
        </a>
    {% elseif app.user.quelGout is null %}
        <a href="{{ path('app_question4') }}">
        <div id="popup" class="popup popup-button hidden d-flex align-items-center justify-content-center">
                <p class="popup-text">Favoriser mes recherches</p>
            </div>
        </a>
    {% elseif app.user.commentConnuKusmiTea is null %}
        <a href="{{ path('app_question5') }}">
        <div id="popup" class="popup popup-button hidden d-flex align-items-center justify-content-center">
                <p class="popup-text">Favoriser mes recherches</p>
            </div>
        </a>
    {% endif %}
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var popup = document.getElementById('popup');
        
        // Function to show the popup
        function showPopup() {
            popup.classList.remove('hidden');
            popup.classList.add('visible');
        }

        if(popup) {
                // Show the popup after a delay (e.g., 5 seconds)
                setTimeout(showPopup, 5000);
        }
    });
</script>

{% endblock %}