{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="container-fluid register">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{{ path('app_login') }}">CONNEXION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="{{ path('app_register') }}">CRÉER UN COMPTE</a>
      </li>
    </ul>
</div>

<div class="container-fluid register-id">
  <div class="row w-50 w-100-sm">
    <div class="col-md-12 border bg-light">
        <div class="p-3">
            <h5 class="mt-3 mb-3 text-center">Question 1/5</h5>
            <hr class="mb-3 mt-3">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 mt-3">
                    {{ form_row(form.frequencethe) }}
                    </div>
                    <button class="mt-5 btn-connexion" type="submit">
                        SUIVANT
                    </button>
            {{ form_end(form) }}
                </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
