{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class="container-fluid register-id">
  <div class="row w-50 w-100-sm">
    <div class="col-md-12 border bg-light">
        <div class="p-3">
            <h5 class="mt-3 mb-3 text-center">Question 3/5</h5>
            <hr class="mb-3 mt-3">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 mt-3">
                    {{ form_row(form.autreTypeThe) }}
                    </div>
                     <button class="mt-5 btn-connexion" type="submit">
                        SUIVANT
                    </button>
                    <a class="mt-2 btn-club" href="{{ path('app_question2') }}">
                        PRECEDENT
                    </a>
                    <a class="mt-5 btn-club" href="{{ path('app_home') }}">
                        RETOUR A L'ACCUEIL
                    </a>
            {{ form_end(form) }}
                </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
