{% extends 'base.html.twig' %}

{% block title %}Carnet d'adresses{% endblock %}

{% block body %}
<div class="container-fluid profil-edit">
    <h1 class="text-center active">CARNET D'ADRESSES</h1>
</div>
<div class="container-fluid profil-edit-id">
    <div class="row w-80 mx-auto">
        <div class="col-md-12">
            <div class="border bg-light">
                <div class="p-5">
                    <h5>Ajouter une nouvelle adresse</h5>
                    <p class="mt-3"><span class="text-danger">*</span> Champs requis </p>
                    <hr class="mb-3 mt-3">
                    {{ form_start(form) }}
                        <div class="row w-100">
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.prenom) }}
                            </div>
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.nom) }}
                            </div>
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.pays) }}
                            </div>
                            <div class="col-md-6 mt-3">
                            </div>
                            <div class="col-md-12 mt-3">
                                {{ form_row(form.adresse) }}
                            </div>
                            <div class="col-md-12 mt-3">
                                {{ form_row(form.complementAdresse) }}
                            </div>
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.ville) }}
                            </div>
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.codePostal) }}
                            </div>
                            <div class="col-md-6 mt-3">
                                {{ form_row(form.telephone) }}
                            </div>
                            <div class="col-md-6 mt-3">
                            </div>
                            <div class="col-md-12 mt-3">
                                {{ form_row(form.nomAdresse) }}
                            </div>
                            <div class="col-6 col-md-6 mt-5 btn-container">
                                <a href="{{ path('app_profil_adresse_liste') }}" class="btn-annuler">ANNULER</a>
                            </div>
                            <div class="col-6 col-md-6 mt-5 btn-container">
                                <button type="submit" class="btn-enregistrer">ENREGISTRER</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
