{% extends 'base.html.twig' %}

{% block title %}Kusmi Klub{% endblock %}

{% block body %}
<div class="container-fluid kusmiklub">
    <div class="d-flex align-items-center justify-content-center flex-column">
        {% if app.user.kusmiklub == true %}
        <h3 class="mt-5">Bienvenue dans votre espace fidélité</h3>
        <h3 class="mt-5">Vous avez {{ points }} points</h3>
        <h5 class="mt-2">Total des bons d'achat actifs</h5>
        
        <div class="points-fidelite">
            <div class="card">
                <div class="card-body">
                    <h5>Programme de Fidélité</h5>
                    {% if points < 100 %}
                        {% set palier_points = 100 %}
                    {% elseif points < 200 %}
                        {% set palier_points = 200 %}
                    {% elseif points < 300 %}
                        {% set palier_points = 300 %}
                    {% elseif points < 400 %}
                        {% set palier_points = 400 %}
                    {% else %}
                        {% set palier_points = 500 %}
                    {% endif %}
                    {% set current_palier_percentage = (points / palier_points) * 100 %}
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: {{ current_palier_percentage }}%;" aria-valuenow="{{ points }}" aria-valuemin="0" aria-valuemax="{{ palier_points }}">{{ points }} / {{ palier_points }} points</div>
                    </div>
                    {% if points < 100 %}
                        <p>Niveau : <strong>Bronze</strong></p>
                        <p>Récompense : Bon de 20% sur la prochaine commande</p>
                    {% elseif points < 200 %}
                        <p>Niveau : <strong>Argent</strong></p>
                        <p>Récompense : 15 points supplémentaires</p>
                    {% elseif points < 300 %}
                        <p>Niveau : <strong>Or</strong></p>
                        <p>Récompense : Bon de 50% sur la prochaine commande</p>
                    {% elseif points < 400 %}
                        <p>Niveau : <strong>Platine</strong></p>
                        <p>Récompense : 20 points supplémentaires</p>
                    {% else %}
                        <p>Niveau : <strong>Diamant</strong></p>
                        <p>Récompense : Un coffret offert</p>
                    {% endif %}
                </div>
            </div>

            <div class="recompenses mt-4">
                <h5>Récompenses par palier</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Palier</th>
                            <th scope="col">Points requis</th>
                            <th scope="col">Récompense</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bronze</td>
                            <td>0 - 99</td>
                            <td>Bon de 20% sur la prochaine commande</td>
                        </tr>
                        <tr>
                            <td>Argent</td>
                            <td>100 - 199</td>
                            <td>15 points supplémentaires</td>
                        </tr>
                        <tr>
                            <td>Or</td>
                            <td>200 - 299</td>
                            <td>Bon de 50% sur la prochaine commande</td>
                        </tr>
                        <tr>
                            <td>Platine</td>
                            <td>300 - 399</td>
                            <td>20 points supplémentaires</td>
                        </tr>
                        <tr>
                            <td>Diamant</td>
                            <td>400 - 500</td>
                            <td>Un coffret de votre choix offert</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="affiliation w-100 mt-4">
            <h2>Invitez vos amis à rejoindre le Kusmi Klub et gagnez des points supplémentaires !</h2>
            <h3>Partagez votre code d'affiliation avec vos amis et gagnez 10 points par personne affiliée.</h3>
            <div class="affiliation-code mt-4">
                <p class="mb-0">Votre code d'affiliation : <strong>{{ referral_code.code }}</strong></p>
            </div>
            <h2>Liste des personnes affiliées</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                </tr>
                </thead>
                <tbody>
                {% for referral in referrals %}
                    <tr>
                        <td>{{ referral.referred.nom }}</td>
                        <td>{{ referral.referred.prenom }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucune personne affiliée pour le moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% endif %}
        <img class="image-klub mt-3" src="{{ asset('build/images/KusmiKlubb.webp') }}" alt="Kusmi Klub">
        <h4 class="mt-5">1€ DÉPENSÉ = 1 POINT</h4>
        <h4>70 POINTS = UN BON D’ACHAT DE 5€</h4>
        <img class="image-klub mt-5" src="{{ asset('build/images/kusmiklubLogo.svg') }}" alt="Kusmi Klub Logo">
        
        <div class="row d-flex align-items-center justify-content-center text-center me-5 mt-5">
            <div class="col-12 col-md-5 mb-4 d-flex align-items-center me-5">
                <img class="icon mr-3" src="{{ asset('build/images/kusmi-1.svg') }}" alt="Voucher">
                <div>
                    <h5>Des bons d’achat</h5>
                    <p>À chaque achat, 1€ = 1 point</p> 
                    <p>70 points = 1 bon d’achat de 5€</p>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-4 d-flex align-items-center mt-2">
                <img class="icon mr-3" src="{{ asset('build/images/kusmi-2.svg') }}" alt="Private Sales">
                <div>
                    <h5>Des ventes privées</h5>
                    <p>Bénéficiez de remises exceptionnelles plusieurs fois par an</p>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-4 d-flex align-items-center me-5 mt-2">
                <img class="icon mr-3" src="{{ asset('build/images/kusmi-3.svg') }}" alt="Birthday">
                <div>
                    <h5>Une surprise offerte pour votre anniversaire</h5>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-4 d-flex align-items-center mt-2">
                <img class="icon mr-3" src="{{ asset('build/images/kusmi-4.svg') }}" alt="Premium">
                <div>
                    <h5>Un avantage premium</h5>
                    <p>Un coffret offert dès 300€ dépensés dans l’année</p>
                </div>
            </div>
        </div>
        <a href="{{ path('app_kusmi_klub') }}" class="btn-club mt-5 fs-5">EN SAVOIR PLUS...</a>
    </div>
</div>
{% if app.user.kusmiklub != true %}
<div class="container-fluid kusmiklub-2">
    {{ form_start(form) }}
        {{ form_row(form.kusmiklub) }}
        <span class="mdp-size mt-2">Je souhaite rejoindre gratuitement le programme de fidélité KusmiKlub pour profiter d'avantages exclusifs. En cochant cette case, j'accepte les conditions générales du programme et j'accepte de recevoir les offres commerciales et les actualités de Kusmi Tea par email conformément à la politique de confidentialité.</span>
    
        <div class="row">
            <div class="col-12 col-md-6">
                <a href="{{ path('app_profil') }}" class="mt-5 btn-club">
                    ANNULER
                </a>
            </div>
            <div class="col-12 col-md-6">
                <button class="mt-5 btn-kusmi" type="submit">
                    ENREGISTRER
                </button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/profil.js') }}"></script>
{% endblock %}

{% form_theme form 'profil/form_theme.html.twig' %}
