<footer class="footer">
    <div class="footer__advantages">
        <div class="footer__advantages__item">
            <img src={{ asset('build/images/icon-france.webp') }} alt="icon France" />
            <span>Fabriqué en France</span>
        </div>
        <div class="footer__advantages__item">
            <img src={{ asset('build/images/icon-bio.webp') }} alt="icon Bio" />
            <span>Kusmi est bio</span>
        </div>
        <div class="footer__advantages__item">
            <img src={{ asset('build/images/icon-0plastic.webp') }} alt="icon 0 Plastic" />
            <span>Objectif zéro plastique</span>
        </div>
        <div class="footer__advantages__item">
            <img src={{ asset('build/images/icon-recycle.webp') }} alt="icon Recycle" />
            <span>Nos boutiques collectent vos capsules</span>
        </div>
    </div>

    <div class="footer__content">
        <div class="footer__content__reinsurance">
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-free-delivery.webp') }} alt="icon Free Delivery" />
                <span>Livraison offerte dès 49€*</span>
            </div>
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-c&c.webp') }} alt="icon Click & Collect" />
                <span>Click & Collect gratuit</span>
            </div>
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-secure-payment.webp') }} alt="icon Secured Payment" />
                <span>Paiement sécurisé</span>
            </div>
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-3xpayment.webp') }} alt="icon 3x Payment" />
                <span>Paiement 3x sans frais dès 60€</span>
            </div>
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-free-sample.webp') }} alt="icon Free Samples" />
                <span>Echantillons offerts*</span>
            </div>
            <div class="footer__content__reinsurance__item">
                <img src={{ asset('build/images/icon-fidelity.webp') }} alt="icon Fidelity" />
                <span>Programme de fidélité</span>
            </div>
        </div>

        <div class="footer__content__links">
            <div class="footer__content__links__list">
                <span class="footer__content__links__list__title">Kusmi Tea</span>
                <ul>
                    <li>
                        <a href="">La marque</a>
                    </li>
                    <li>
                        <a href="">Programme de fidélité</a>
                    </li>
                    <li>
                        <a href="">Trouver une boutique Kusmi</a>
                    </li>
                    <li>
                        <a href="">Notre conversion au bio</a>
                    </li>
                    <li>
                        <a href="">Nos ingrédients naturels</a>
                    </li>
                    <li>
                        <a href="">Nos engagements pour la planète</a>
                    </li>
                    <li>
                        <a href="">Lov Organic devient Kusmi Bio</a>
                    </li>
                    <li>
                        <a href="">Consignes de tri</a>
                    </li>
                    <li>
                        <a href="">Plan du site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content__links__list">
                <span class="footer__content__links__list__title">Professionnels</span>
                <ul>
                    <li>
                        <a href="">Cadeaux d'affaire</a>
                    </li>
                    <li>
                        <a href="">Site professionnel</a>
                    </li>
                    <li>
                        <a href="">Devenir Client Professionnel</a>
                    </li>
                    <li>
                        <a href="">Offres d'emploi</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content__links__list">
                <span class="footer__content__links__list__title">Assistance</span>
                <ul>
                    <li>
                        <a href="">Aide et Contact</a>
                    </li>
                    <li>
                        <a href="">Livraison</a>
                    </li>
                    <li>
                        <a href="">Click & Collect</a>
                    </li>
                    <li>
                        <a href="">Avantages et Garanties</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Mentions légales / CGVU</a>
                    </li>
                    <li>
                        <a href="">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="">Paramètrage des cookies</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content__links__list">
                <span>*Conditions des offres</span>
            </div>
        </div>
    </div>
</footer>